.help-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.help-content {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
}

.help-title {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.help-description {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 20px;
  text-align: center;
}

.faq-title {
  font-size: 1.8em;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.faq-container {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.faq-item {
  border-bottom: 1px solid #ddd;
}

.faq-item:last-child {
  border-bottom: none;
}

.faq-question {
  background-color: #f9f9f9;
  border: none;
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.faq-question:hover {
  background-color: #f0f0f0;
}

.faq-answer {
  padding: 15px;
  display: none;
  font-size: 1em;
  color: #555;
}

.faq-answer.show {
  display: block;
}
